{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O kantici</title>
    <link rel="icon" href="{%static 'icon.svg' %}">

    <!-- Vendor CSS Files -->
    <link href="{%static 'css/vendor/animate.min.css' %}" rel="stylesheet">
    <link href="{%static 'css/vendor/bootstrap-icons.css' %}" rel="stylesheet">
    <!--Template Main CSS File-->
    <link href="{%static 'css/vendor/style.css' %}" rel="stylesheet">
   
    <link href="{% static '/css/bootstrap-grid.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/headers.css' %}" rel="stylesheet">
   

    <!--nas css-->
    <link rel="stylesheet" href="{% static '/css/mycss.css' %}">
    <!--nas css-->
</head>

<body>
    <!--HEADER--> 
    {% include "./Header.html" %}
    <!--HEADER-->

    <div class="masthead" style="background-image: url('https://images.pexels.com/photos/5231304/pexels-photo-5231304.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
              <h1 class="fw-light"><b>O eKantici</b></h1>
              <p class="lead"><b>Ovdje se nalazi sve što vas zanima o našem projektu.</b></p>
            </div>
          </div>
        </div>
    </div>

    <section class="py-5">
        <div class="container">
          <div class="container text-center">
            <h2>Tko smo mi?</h2>
            <hr class="mb-5">

            <div class="row md-2">
      
              <div class="col-lg-4 md-2 mb-5">
                <div class="card" style="border-radius: 30px;">
                <div class="card-body p-5">
                  <img class="rounded-circle mb-2" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                  <h2>Hrvoje Elez</h2>
                  <p>Kratki opis</p>
                </div>
                </div>
              </div><!-- /.col-lg-4 -->
  
              <div class="col-lg-4 md-2 mb-5">
                <div class="card" style="border-radius: 30px;">
                <div class="card-body p-5">
                  <img class="rounded-circle mb-2" src="{%static 'imgs/jg.jpg'%}" alt="Generic placeholder image" width="140" height="140">
                  <h2>Jelena Gavran</h2>
                  <p>Voli mačke. Malo se boji mikrokontrolera. U slobodno vrijeme čopka kožicu sa svježe pečenog odojka.</p>
                </div>
                </div>
              </div><!-- /.col-lg-4 -->
  
              <div class="col-lg-4 md-2 mb-5">
                <div class="card" style="border-radius: 30px;">
                <div class="card-body p-5">
                  <img class="rounded-circle mb-2" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                  <h2>Nikola Gudan</h2>
                  <p>Kratki opis</p>
                </div>
                </div>
              </div><!-- /.col-lg-4 -->

            </div>

            <div class="row md-2">

              <div class="col-lg-4 md-2 mb-5">
                <div class="card" style="border-radius: 30px;">
                <div class="card-body p-5">
                  <img class="rounded-circle mb-2" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                  <h2>Luka Jengić</h2>
                  <p>Kratki opis</p>
                </div>
                </div>
              </div><!-- /.col-lg-4 -->
  
              <div class="col-lg-4 md-2 mb-5">
                <div class="card" style="border-radius: 30px;">
                <div class="card-body p-5">
                  <img class="rounded-circle mb-2" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                  <h2>Hana Novak</h2>
                  <p>Kratki opis</p>
                </div>
                </div>
              </div><!-- /.col-lg-4 -->

              <div class="col-lg-4 md-2 mb-5">
                <div class="card" style="border-radius: 30px;">
                <div class="card-body p-5">
                  <img class="rounded-circle mb-2" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                  <h2>Petar Sušac</h2>
                  <p>Kratki opis</p>
                </div>
                </div>
              </div><!-- /.col-lg-4 -->

            </div>

          <br><br>
            <h2>Projekt</h2>
            <hr class="mb-5">
          
            br br br info o projektu
          </div>

        </div>
    </section>

    <!--FOOTER--> 
    {% include "./Footer.html" %}
    <!--FOOTER-->
</body>


<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>

</html>